<div class="main login" dir="rtl">
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-5 my-4" style="margin: 0 auto;padding: 0 45px">

      <!--Form with header-->
      <mdb-card>

        <mdb-card-body>
          <!--Header-->
          <div class="form-header blue accent-1 z-depth-1-half mb-5">
            <h3> وارد شوید</h3>
          </div>

          <p class="grey-text text-center">به وب سایت خود خوش آمدید.</p>
          <br>
          <!-- <div class="text-center">
              <button type="button" mdbBtn class="red darken-3" mdbWavesEffect style="color: white">
                  +Google<i class="fab fa-google-plus left"></i>
                  </button>
          </div> -->


          <!--Body-->
          <div class="mx-4">
              <form>
                  <div class="md-form">
                    <mdb-icon fas icon="envelope" class="prefix grey-text toRight"></mdb-icon>
                    <input mdbInput type="text" id="form2" class="form-control mrtl">
                    <label class="toRight mrtl" for="form2">ایمیل</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="key" class="prefix grey-text toRight"></mdb-icon>
                    <input mdbInput type="text" id="form2" class="form-control mrtl">
                    <label class="toRight mrtl" for="form2">رمزعبور</label>
                  </div>
                  <div class="text-center">
                      <button mdbBtn color="light-blue" class="waves-light" mdbWavesEffect>ورود</button>
                    </div>
                </form>
          </div>





        </mdb-card-body>

      </mdb-card>
      <!--Form with header-->

    </div>
</div>
