<header class="hero">
  <div class="mb-4 rounded">
    <mdb-card class="rounded">
      <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item class="rounded">
          <img class="d-block w-100 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item class="rounded">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item class="rounded">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </mdb-card>
  </div>
</header>
<section class="section section--code">
  <div class="container">
    <h2 class="section-title mb-5">Top Shops</h2>
    <div class="aos-init aos-animate" data-aos="fade-up">
      <div class="d-flex">
        <!-- Card -->
        <mdb-card
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
          class="card-image mb-3 mx-2 rounded animated fadeInUp">
          <!-- Content -->
          <div class="text-white rounded text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="pink-text">
                <mdb-icon fas icon="chart-pie"></mdb-icon>
                Marketing
              </h5>
              <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                ipsum dignissimos. Odit sed qui, dolorum!.
              </p>
              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
        <!-- Card -->

        <!-- Card -->
        <mdb-card
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
          class="card-image mb-3 mx-2 animated fadeInUp rounded">
          <!-- Content -->
          <div class="text-white rounded text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="pink-text">
                <mdb-icon fas icon="chart-pie"></mdb-icon>
                Marketing
              </h5>
              <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                ipsum dignissimos. Odit sed qui, dolorum!.
              </p>
              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
        <!-- Card -->

        <!-- Card -->
        <mdb-card
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
          class="card-image mb-3 mx-2 animated fadeInUp rounded">
          <!-- Content -->
          <div class="text-white rounded text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="pink-text">
                <mdb-icon fas icon="chart-pie"></mdb-icon>
                Marketing
              </h5>
              <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                ipsum dignissimos. Odit sed qui, dolorum!.
              </p>
              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
        <!-- Card -->

      </div>
    </div>
    <div class="aos-init" data-aos="fade-right">
      <div class="d-flex">
        <!-- Card -->
        <mdb-card
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
          class="card-image mb-3 mx-2 animated fadeInUp rounded">
          <!-- Content -->
          <div class="text-white rounded text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="pink-text">
                <mdb-icon fas icon="chart-pie"></mdb-icon>
                Marketing
              </h5>
              <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
                ipsum dignissimos. Odit sed qui, dolorum!.
              </p>
              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
        <!-- Card -->

      </div>
    </div>
    <div class="code code--small code--left w-100">
      <section class="pt-3 text-center ">
        <h2 class="section-title mb-5">Top Shops</h2>
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-right">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half ">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="">
                </mdb-card-img>
                <div class="stripe dark">
                  <a>
                    <p>Red trousers
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-right">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" alt="">
                </mdb-card-img>
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-right">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" alt="">
                </mdb-card-img>
                <div class="stripe dark">
                  <a>
                    <p>Accessories
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-right">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" alt="">
                </mdb-card-img>
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Fourth column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-left">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half ">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="">
                </mdb-card-img>
                <div class="stripe dark">
                  <a>
                    <p>Red trousers
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-left">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" alt="">
                </mdb-card-img>
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-left">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" alt="">
                </mdb-card-img>
                <div class="stripe dark">
                  <a>
                    <p>Accessories
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up-left">

            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light rounded" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" alt="">
                </mdb-card-img>
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->

          </div>
          <!--Fourth column-->
        </div>
        <!--Grid row-->

      </section>
    </div>
    <div class="code code--small code--left w-100" data-aos="fade-up">
        <section class="pt-3 text-center ">
          <h2 class="section-title mb-5">sugestion for you</h2>
          <app-item-slider></app-item-slider>
        </section>
      </div>
  </div>
</section>
<section class="section section--code back-light mb-5">
  <h2 class="section-title-light mt-5">Shop By Brands</h2>
  <div class="aos-init" style="width: 100%;">
    <div class="mb-4" data-aos="fade-up-right">
      <app-brand-slider></app-brand-slider>
    </div>
  </div>
</section>
